<main class="about-main">
    <h1>Information about me and the project!</h1>
    <h2>About Me: </h2>
    <div class="container">
      <div id="image" alt="profile picture of myself">
        <a href="https://cacco-2000.github.io/Portfolio/" target="_blank"><img src ="/images/FotoTessera.JPG"></a>
      </div>
      <div id="description">
        <h3>Hi!</h3>
        <p>My name is Marco Spinelli.</p>
        <p>I created this blog web application for learning and traning purposes but you can use it however you like!</p>
        <p>Use it to understand the code or just for fun!</p>
        <p>If you want to know more about my projects, please visit my <a href="https://cacco-2000.github.io/Portfolio/" target="_blank">Portfolio</a>.</p>
      </div>
    </div> 
    
    <h2>About the project: </h2>
    <div class="container">
      <div id="description">
        <p>In this project i used the basic HTML and CSS combined with javascript and some of  two of his framework, Node.js and EJS</p>
        <p>I could've used the framework bootstrap but i decided not to for improving purposes of my CSS skills.</p>
        <p>You can see the blogs that a created as examples, add, modify and delete new ones.</p>
        <p>However, because there is no database involved, the blog posts you created will be canceled once the page is closed.</p>
        <p>Enjoy!</p>
      </div>  
    </div>    
</main>