<main class="blog-main">
    <h1>Add a new blog!</h1>
    <div class="container">
        <form action="/submit" method="POST">
            <label for="title1"><h2>First Title: </h2></label>
            <input type="text" name="title1" required>
            
            <label for="title2"><h2>Second Title: </h2></label>
            <input type="text" name="title2" required>

            <label for="content"><h2>Content: </h2></label>
            <textarea name="content" rows="6" required></textarea>
            <input type="submit" class="submit-btn" value="Submit">
        </form> 
    </div> 
</main>