<header>
    <nav>
        <div class="nav_title">
            <h1>AnyBlog</h1>
            <h2>A site where you can post a blog about anything!</h2>
        </div>
        <ul>
            <li>
                <a href="/">Blogs</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/addBlog">Add Blog</a>
            </li>
        </ul>
    </nav>
    <div class="second-list-container">
       <ul class="second-list">
            <li>
                <a href="/">Blogs</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/addBlog">Add Blog</a>
            </li>
        </ul> 
    </div>
    
</header>