:root 
{
    --primary-bg: #578FCA;
    --nav-bg: #3674B5;
    --text-light: #A1E3F9;
    --text-lighter: #D1F8EF;
    --btn-hover-green: #4cae4c;
    --btn-hover-red: #D9534F;
}

.blog-main
{
    text-align: center;
    padding: 20px;
}

.blog-main h1 
{
    font-size: 2.5rem;
    color: var(--text-light);
    margin-bottom: 20px;
    padding-left: 0px;
}

.blog-main .container 
{
    border-left: 15px solid var(--nav-bg);
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.blog-main form 
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.blog-main label h2 
{
    font-size: 1.8rem;
    color: var(--text-light);
    padding-left: 0px;
}

.blog-main input[type="text"] 
{
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--text-light);
    border-radius: 5px;
    background-color: var(--text-lighter);
    color: var(--nav-bg);
}

.blog-main input[type="text"]:focus 
{
    outline: none;
    border-color: var(--text-light);
    box-shadow: 0px 0px 5px var(--text-light);
}

.blog-main textarea 
{
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--text-light);
    border-radius: 5px;
    background-color: var(--text-lighter);
    color: var(--nav-bg);
    resize: vertical;
    min-height: 100px;
}

.blog-main textarea:focus 
{
    outline: none;
    border-color: var(--text-light);
    box-shadow: 0px 0px 5px var(--text-light);
}

.blog-main .btn-container
{
    display: flex;
    justify-content: center;
    gap: 5%;
}